.wells {
    float: left;
}

#choose {
    display: none;
}

#jump {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    padding: 20px;
}

body {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/happy.jpg")
}

.jumbotron {
    opacity: 0.8;
}

.well {
    opacity: 0.8;
}

h1 {
    color: brown;
}

h2 {
    color: brown;
}

.button {
    text-align: center;
}

.jumbotron {
    width: 500px;
}